#main {
  padding: 8vw;
  margin-top: 5vh;
  line-height: 1.6;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.main-text__title {
  font-size: calc(25px + 2vw);
  font-weight: 600;
  display: block;
  margin-bottom: 0.6vh;
}
.main-text__content {
  font-size: calc(15px + 0.8vw);
}

.creator-info {
  margin-top: 5vh;
  color: var(--main-txt-clr);
}
.creator-info__top {
  text-align: end;
}
.creator-info__top a {
  text-decoration: none;
  color: var(--main-txt-clr);
}
.creator-info hr {
  border: 1px dashed var(--main-txt-clr);
}
.creator-info__content {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}
