.menu-bar {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 3vw;
  bottom: 3vh;
  font-size: 20vw;
  font-family: hwt-arabesque, sans-serif;
}
.menu-bar a {
  display: block;
  text-decoration: none;
  color: #f0f0f0;
  margin: 1vh 0;
  transition: all ease-in-out 0.4s;
}
.menu-bar a:hover {
  color: rgba(220, 220, 220, 0.4);
}

@keyframes startJourney {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.background2__welcome-title {
  font-size: 18vw;
  line-height: 0.9;
  text-align: center;
  z-index: 10;
  animation: startJourney 1.2s infinite;
}
.background2__welcome-title div {
  text-decoration: none;
  font-family: hwt-arabesque, sans-serif;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 0.2vw var(--main-txt-clr);
  cursor: pointer;
}
.background2__description {
  margin-top: 3vh;
  font-size: 3vw;
  z-index: 10;
  animation: startJourney 1.2s infinite;
  visibility: hidden;
  font-family: livory;
  color: var(--main-txt-clr);
}

.circles-button {
  background: inherit;
  box-shadow: none;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  border: 0.15vw solid rgba(255, 255, 255);
  z-index: 100;
  cursor: grab;
  color: var(--main-txt-clr);
  font-family: hwt-arabesque, sans-serif;
}
.circles-button:focus {
  cursor: grabbing;
}
@keyframes circlesHoverEffect {
  0% {
    border: 0.15vw solid rgba(255, 255, 255);
    box-shadow: 0px 0 8vw 8vh rgba(255, 255, 255, 0.1),
      0px 0 12vw 12vh rgba(255, 255, 255, 0.05);
  }
  40% {
    border-color: transparent;
    box-shadow: 0 0 15vw 20vh rgba(255, 255, 255, 0.3),
      0 0 20vw 30vh rgba(255, 255, 255, 0.2),
      0 0 40vw 40vh rgba(255, 255, 255, 0.05);
  }
  100% {
    border: 0.15vw solid rgba(255, 255, 255);
    box-shadow: 0px 0 8vw 8vh rgba(255, 255, 255, 0.1),
      0px 0 12vw 12vh rgba(255, 255, 255, 0.05);
  }
}
.circles-button:hover {
  animation: circlesHoverEffect 1.2s ease-in-out infinite;
}

.circles-button:nth-child(1) {
  /*astronaut*/
  top: 75vh;
  left: 74.5vw;
  width: 10vw;
  height: 10vw;
}

.circles-button:nth-child(2) {
  /*planet*/
  top: 17vh;
  left: 70vw;
  width: 22vw;
  height: 22vw;
}
.circles-button:nth-child(3) {
  /*more*/
  top: 50vh;
  left: 10vw;
  width: 14vw;
  height: 14vw;
}
