.menu-bar {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 3vw;
  bottom: 3vh;
  font-size: 20vw;
  font-family: hwt-arabesque, sans-serif;
}
.menu-bar a {
  display: block;
  text-decoration: none;
  color: #f0f0f0;
  margin: 1vh 0;
  transition: all ease-in-out 0.4s;
}
.menu-bar a:hover {
  color: rgba(220, 220, 220, 0.4);
}

.circles-button {
  background: inherit;
  box-shadow: none;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  border: 0.2vw solid rgba(255, 255, 255);
  z-index: 100;
  cursor: zoom-in;
}
.circles-button:hover {
  border: 1.6px solid rgba(255, 255, 255, 0);
  box-shadow: 0px 0 25px 40px rgba(255, 255, 255, 0.4),
    0px 0 45px 60px rgba(255, 255, 255, 0.2);
  background: radial-gradient(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.3));
  transition: all ease-in-out 0.3s;
}

.circles-button:nth-child(1) {
  /*astronaut*/
  top: 77vh;
  left: 74.5vw;
  width: 12vw;
  height: 12vw;
}

.circles-button:nth-child(2) {
  /*planet*/
  top: 15vh;
  left: 75vw;
  width: 19vw;
  height: 19vw;
}
.circles-button:nth-child(3) {
  /*more*/
  top: 65vh;
  left: 4vw;
  width: 14vw;
  height: 14vw;
}
