.wallpaper__stars {
  z-index: 1;
}
.more__planet {
  z-index: 2;
}
.more__land {
  z-index: 4;
}

.more__title {
  font-family: livory, sans-serif;
  width: 90%;
  text-align: center;
  font-size: 21vw;
  text-align: center;
  z-index: 5;
}
@media only screen and (orientation: landscape) {
  .more__title {
    width: 80%;
    font-size: 17vw;
  }
}
