#weather {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}
.weather__card {
  font-family: livory, sans-serif;
  width: 74%;
  height: 70%;
  border: 1px solid white;
  padding: 6vh 6vw;
  font-size: calc(14px + 0.7vw);
  line-height: 1.5;
  overflow: scroll;
  text-align: center;
}
