.user-content {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#type-name {
  background: var(--main-bg-clr);
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  gap: 3.5vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#type-name label {
  font-family: hwt-arabesque, sans-serif;
  font-size: 13vw;
  z-index: 1;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline-style: none;
  background: none;
}

.type-name__input {
  border: 1px solid var(--light-clr);
  color: var(--main-txt-clr);
  text-indent: 2vw;
  width: 55%;
  padding: 1vh 0;
  font-size: 4.5vw;
}
.type-name__input:focus {
  border-color: white;
  box-shadow: var(--main-txt-clr) 2px 0 20px;
  border-radius: 4vw;
  transition: all ease-in-out 0.3s;
}
.type-name__input:focus::placeholder {
  color: transparent;
  transition: all ease-in-out 0.4s;
}

.type-name__submit {
  border: none;
  border-radius: 3vw;
  color: var(--light-clr);
  height: 6vh;
  font-size: 4.5vw;
  font-family: hwt-arabesque, sans-serif;
  cursor: pointer;
}
.type-name__submit:hover {
  color: var(--main-txt-clr);
  text-decoration: wavy;
  transition: all ease-in-out 0.2s;
}

#user-info {
  width: 100vw;
  height: 100vh;
}
.user-info__name {
  color: var(--main-txt-clr);
}
#astronaut {
  cursor: pointer;
  position: absolute;
  top: 15vh;
  left: 70vw;
  width: 25vw;
  transition: all ease-in-out 0.7s;
  z-index: 0;
}
#astronaut:hover {
  transform: scale(4);
  transition: all ease-in-out 0.4s;
}
