.background,
.background2,
.background3 {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.background img,
.background2 img,
.background3 img {
  position: absolute;
  left: 0;
  width: 100%;
  object-fit: cover;
}
.background__stars,
.background2__stars {
  top: 0;
  height: 100%;
  filter: grayscale(80%) contrast(100%);
}
.background__land,
.background2__land {
  bottom: 0;
  height: 42%;
  z-index: 4;
  filter: grayscale(100%) brightness(0.6) contrast(100%);
}
.background__welcome-title {
  font-family: hwt-arabesque, sans-serif;
  font-size: 20vw;
  z-index: 3;
}
.background__welcome-button {
  font-size: calc(18px + 2vw);
  text-decoration: none;
  text-align: center;
  padding-bottom: 10vh;
  color: var(--light-clr);
  margin: 2vh 0 8vh 0;
  z-index: 3;
  transition: all ease-in-out 0.5s;
}
.background__welcome-button:hover {
  color: var(--main-txt-clr);
  letter-spacing: 2vw;
  text-shadow: white 2px 1px 10px;
}

.circles-button,
.menu-bar {
  z-index: 8;
}
