.return {
  position: fixed;
  z-index: 20;
}
.return_top,
.return_bottom {
  margin: 1.2vh 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  width: calc(25px + 0.8vw);
  height: calc(25px + 0.8vw);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.return_top:hover,
.return_bottom:hover {
  background-color: var(--light-clr);
  transition: all ease-in-out 0.3s;
}
.return_top--button img {
  width: calc(10px + 0.6vw);
}
@media only screen and (orientation: landscape) {
  .return {
    bottom: 10vh;
    right: 3.5vw;
  }
}
@media only screen and (orientation: portrait) {
  .return {
    bottom: 6vh;
    right: 2vw;
  }
}
